body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
	width: 200px;
	display: flex;
	flex-direction: column;
}

.row {
	flex-direction: row !important;
}

.row > div {
	display: flex;
}

p {
	margin: 10px;
	margin-left: 0px;
}

input {
	margin: 10px;
}
